name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'docs/**'

permissions:
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            docs
          sparse-checkout-cone-mode: true
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs'
      - id: deployment
        uses: actions/deploy-pages@v4
